@font-face {
    font-family: 'Armalite Rifle';
    src: url('../fonts/armalite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title {
    font-size: 150px;
    background: -webkit-linear-gradient(#c0392b, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 2px #e74c3c;
    font-family: 'Armalite Rifle';
}

.div-menu-bg {
    background: url('../img/menu.jpg') no-repeat;
    background-size: 100% 100%;
    width: 700px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
}

.menu-option-bg {
    background-image: url("../img/metal-texture.jpg");
    width: 500px;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 40px;
    border: solid gray;
}

.menu-option-text {
    text-shadow: 4px 4px 2px white;
    color: black;
    font-family: 'Armalite Rifle';
}